<div class="mainCont">


<div class="bgImageWed">

    <app-add-gift></app-add-gift>




  <div class="giftList">

    <ul class="conList" #listElem *ngFor="let gift of gifts">
      <div class="listElemContainer">
        <div class="giftTitle" #giftName>

          <h2 #key> {{gift.Name}} </h2>

        </div>
        <div>
          <br>
          <img class="imgWed" [src]=gift.Photo> </div>
        <div class="wedGiftFoot">
          <div>
            <strong>Price: </strong>{{gift.Value}}</div>
          <button type="button" #btnRes class="btn btn-success resBtn" (click)="reserve(listElem, btnRes, gift.Name, gift.res)">Reservar</button>

        </div>
      </div>
    </ul>
  </div>

</div>
</div>
  <!-- 

  <div class="giftSearch">
    <input type="text" name="giftSearch" placeholder="Busca un regalo" [(ngModel)]="pattern">
  </div>

  <div class="fullGiftContainer">
    <div class="giftsCointainer" *ngFor="let gift of gifts | filter:'name':pattern; let i = index">
      <div class="giftTitle">
        <h2> {{gift.name}} </h2>
      </div>
      <div>
        <img class="imgWed" [src]=gift.image> </div>
      <div class="wedGiftFoot">
        <div>
          <strong>Price: </strong>{{gift.price}}</div>
        <button>Participar</button>
      </div>

    </div>
  </div>
</div> -->
