
<div class="bgImage" (click)="showdiv()">
  <div class="titleContainer">
    <h1 class="indexTitle">DO MORE
      <br> OF WHAT YOU LOVE.</h1>
  </div>
</div>

<div class="inputIndexForm">
  <div class="codeInput">
    <input class="indexInput" type="text" name="codeInput" placeholder="Código">
  </div>
  <!-- <div class="btnIndexReg">
      <button class="btnReg" name="indexBtn">Login</button>
    </div> -->
    <div class="btnIndexReg">
        <button class="btnReg" name="indexBtn" (click)='goReg(); showForm==false'>Registro</button>
      </div>
</div>

<!-- <div class="loginIndexForm">
  <form>
    <label for="codigo" class="codeString">
      <strong>Código</strong>
    </label>
    <div class="bgImageInput">
      <input class="protaCode">
    </div>
  </form>
</div> -->
