<div class="bgImage" (click)="showdiv()">
  <div class="titleContainer">
    <h1 class="indexTitle">DO MORE
      <br> OF WHAT YOU LOVE.</h1>
  </div>
</div>

<div class="inputIndexForm">
  <div class="codeInput">
      <button class="btnReg" name="indexBtn" (click)='goInvi()'>Invitado</button>
  </div>
  <!-- <div class="btnIndexReg">
      <button class="btnReg" name="indexBtn">Login</button>
    </div> -->
  <div class="btnIndexReg">
    <button class="btnReg" name="indexBtn" (click)='goReg(); showForm==false'>Registro</button>
  </div>
</div>


<div class="loginMod">
  <div *ngIf="!(authService.user | async)">
    <input type="email" [(ngModel)]="email" placeholder="email" required name="email">
    <input type="password" [(ngModel)]="password" placeholder="contraseña" required #pass>

    <button (click)="signup()" [disabled]="!email || !password">
      Signup
    </button>

    <button (click)="login()" [disabled]="!email || !password">
      Login
    </button>
  </div>

  <button (click)="logout()" *ngIf="authService.user | async">
    Logout
  </button>

</div>
