<form #addFoodFirstForm>
  <div>
    <input type="text" name="addFood" #firstPlate1 placeholder="Primer Plato">
    <input type="text" name="addFood" #firstPlate2 placeholder="Primer Plato">
    <input type="text" name="addFood" #firstPlate3 placeholder="Primer Plato">


    <button type="submit" (click)="addFoodFirst(firstPlate1.value, firstPlate2.value, firstPlate3.value); addFoodFirstForm.reset()">
      Añadir! </button>
  </div>
</form>

<form #addFoodSecondForm>
  <div>
    <input type="text" name="addFood" #secondPlate1 placeholder="Segundo Plato">
    <input type="text" name="addFood" #secondPlate2 placeholder="Segundo Plato">
    <input type="text" name="addFood" #secondPlate3 placeholder="Segundo Plato">


    <button type="submit" (click)="addFoodSec(secondPlate1.value, secondPlate2.value, secondPlate3.value); addFoodSecondForm.reset()">
      Añadir! </button>
  </div>
</form>

<form #addFoodThirdForm>
  <div>
    <input type="text" name="addFood" #thirdPlate1 placeholder="Tercero Plato">
    <input type="text" name="addFood" #thirdPlate2 placeholder="Tercero Plato">
    <input type="text" name="addFood" #thirdPlate3 placeholder="Tercero Plato">


    <button type="submit" (click)="addFoodThird(thirdPlate1.value, thirdPlate2.value, thirdPlate3.value); addFoodThirdForm.reset()">
      Añadir! </button>
  </div>
</form>

<form #addFoodDesForm>
  <div>
    <input type="text" name="addFood" #desPlate1 placeholder="Postre Plato">
    <input type="text" name="addFood" #desPlate2 placeholder="Postre Plato">
    <input type="text" name="addFood" #desPlate3 placeholder="Postre Plato">


    <button type="submit" (click)="addFoodDes(desPlate1.value, desPlate2.value, desPlate3.value); addFoodDesForm.reset()">
      Añadir! </button>
  </div>
</form>
