
<div class="inlinia">
<button class="addGiftBtn" (click)="showAddGift()">
  <i class="fa fa-plus-circle circuloAdd" aria-hidden="true"></i>
</button>
<form #addGiftForm class="addGiftForm">
  <div>
    <input type="text" name="addGift" #giftName placeholder="Nombre">
    <input type="text" name="addGift" #giftPrice placeholder="Precio">
    <input type="text" name="addGift" #giftPhoto placeholder="Foto">

      <button type="submit" class="btn btn-success" (click)="addGift(giftName.value, giftPrice.value, giftPhoto.value); addGiftForm.reset()"> Añadir! </button>

  </div>
</form>
</div>
