<nav class="navHead">
  <div class="navElem">
    <a href="/wedPage/intro">
        <i class="fa fa-info-circle headIco" aria-hidden="true"></i>
        Inicio</a>
  </div>
  <div class="navElem">
      <a href="/wedPage/guests">
        <i class="fas fa-users headIco"></i>
    Invitados</a>
  </div>
  <div class="navElem">
      <a href="/wedPage/food">
        <i class="fa fa-birthday-cake headIco" aria-hidden="true"></i>
             Menú</a>
  </div>
  <div class="navElem">
      <a href="/wedPage/wedList">
        <i class="fa fa-gift headIco" aria-hidden="true"></i>
        Lista de regalos</a>
  </div>

</nav>

